body{
    background-color: aliceblue;
    
}
a{
   
}


h1{
    text-align: center;
    padding: 10px;
}
#craft-list{
    display: flex;
    flex-wrap: wrap;
}
.modal-content img {
    width: 300px;
    height: 300px; 
    padding: 20px;
    border: solid 2px black;
}
.craft-image {
    width: 250px;
    height: 250px; 
    border-radius: 10px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px; 
    transform: rotate(-12deg);
    
}
.w3-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 600px; 
    z-index: 1; 
}
.w3-modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    max-width: 600px; 
}

.w3-modal-content .flex-container .text-section {
    flex: 1;
    padding-right: 20px;
}
.w3-modal-content .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.w3-modal-content .flex-container .image-section {
    flex: 1;
}

.w3-modal-content .flex-container .image-section img {
    max-width: 100%;
    height: auto;
}